.languages {
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  transform: scaleY(0);
  transform-origin: top;
  padding-inline: 10px;
  transition: transform 0.5s ease-in, opacity 0.5s ease-in, height 0.5s ease-in, padding 0.5s ease-in;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  font:
    300 1em 'Fira Sans',
    sans-serif;
}

.languages__button {
  opacity: 0;
  background: none;
  border: 2px solid #e1c023;
  font: inherit;
  line-height: 1;
  padding: 0.5em 0.5em;
  font-weight: 400;
  border-radius: 8px;
  white-space: nowrap;
  color: #e1c023;
  transition: 0.25s, opacity 0.3s ease-in;
  cursor: pointer;
}

.languages__button:hover,
.languages__button:focus {
  border-color: #3fcc59;
  color: #69db7e;
  box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
  transform: translateY(-0.25em);
}

.js-languages-shown {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
  padding-top: 10px;
}

.js-languages-button-shown {
  opacity: 1;
}
