html {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-width: 303px;
  min-height: 100%;
  margin: 0;
  color: #fff;
  background: #222327;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  border: 2px solid #30c5ff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
  text-align: left;
}

header h1 {
  margin-block: 0;
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
}

footer {
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: space-between;
  column-gap: 20px;
  max-width: 1440px;
  width: 100%;
  height: 50px;
  padding: 10px;
  font:
    300 1em 'Fira Sans',
    sans-serif;
  color: #70d6ff;
  box-sizing: border-box;
}

footer .copyright {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
  color: #70d6ff;
  text-align: center;
}

footer .copyright a,
footer .developer__link {
  color: #70d6ff;
}

footer .copyright a:visited,
footer .developer__link:visited {
  color: #70d6ff;
}

footer .copyright a:hover,
footer .developer__link:hover {
  color: #fff;
}

footer .copyright:before {
  content: '©';
}

footer .developer__link {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

footer .developer__link:before {
  content: '';
  flex-shrink: 0;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(./assets/github-mark-white.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

footer .rs-school {
  display: block;
  width: 100px;
  height: 30px;
  background-image: url(./assets/rs-school-js.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
}
